<div class="dpa-modal assessment-modal qst-div container-fluid">
  <div class="modal-title">{{ questionnaire.questionaireDescription }}</div>

  <div class="modal-divider"></div>

  <form #questionnaireShowForm="ngForm" class="dpa-modal-form" role="form">
    <div class="qst-instructions">
      <div class="dpa-label">Instructions:</div>
      <span>{{ questionnaire.questionaireInstructions }}</span>
    </div>
    <div class="row qst-questions">
      <div *ngFor="let category of categories" class="qst-category">
        <div class="dpa-label">{{ category.questionCategoryDesc }}</div>
        <ol>
          <li *ngFor="let question of questionnaire.questionWithOptions 
            | questionCategoryFilter:category.questionCategoryId">
            <div class="qst-question col-md-12">
              {{ question.questionDescription }}
            </div>
            <div class="qst-answer" >
              <div class="col-md-12 qst-options" *ngIf="arrayHasData(question.options)">
                <label *ngFor="let option of question.options">
                  <input type="radio" name="qstopt-{{question.questionId}}"
                    [(ngModel)]="question.answer" [value]="option.optionDescription"/>
                    {{option.optionDescription}}
                </label>
              </div>
              <div class="col-md-12 qst-field" *ngIf="!arrayHasData(question.options)">
                <textarea ng-model="question.answer" class="form-control" 
                  rows="3" id="answer">
                </textarea>
              </div>
            </div>      
          </li>
        </ol>
      </div>
    </div>

    <div class="row modal-footer">          
        <button type="button" class="btn btn-default col-md-4" (click)="bsModalRef.hide()">
            Close
        </button>
    </div>
  </form>
</div>