<div class="hidden-xs dpa-sidebar">
  <div class="nav-side-menu style-1">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
      <div class="nav-brand">
        <a routerLink="/">
          <img [src]="'assets/img/dp-logo.png'">
        </a>
      </div>
      <div class="nav-user">
        <img class="profile" [src]="'assets/img/temp/user-icon.png'">
        <div class="info">
          <p class="name">{{ user.fullname }}</p>
          <span class="position">{{ user.role }}</span>
        </div>
      </div>
      <ul id="menu-content" class="menu-content collapse out">
        <li routerLink="/dashboard" routerLinkActive="active">
          <a><i class="fa fa-home fa-lg"></i>Dashboard</a>
        </li>
        <li routerLink="/employees" routerLinkActive="active" *ngIf="user.isAdmin">
          <a><i class="fa fa-address-card fa-lg"></i>Employees</a>
        </li>
        <li routerLink="/teams" routerLinkActive="active" *ngIf="user.isAdmin">
          <a><i class="fa fa-users fa-lg"></i>Teams</a>
        </li>
        <li routerLink="/clients" routerLinkActive="active" *ngIf="user.isAdmin">
          <a><i class="fa fa-id-badge fa-lg"></i>Clients</a>
        </li>
        <li routerLink="/assessments" routerLinkActive="active">
          <a><i class="fa fa-edit fa-lg"></i>Assessments</a>
        </li>
        <li routerLink="/questionnaires" routerLinkActive="active" *ngIf="user.isAdmin">
          <a><i class="fa fa-list-ol fa-lg"></i>Questionnaires</a>
        </li>
      </ul>
    </div>
  </div>
</div>