<div class="dpa-modal assessment-modal container-fluid">
  <div class="modal-title">{{ assessment.assessmentName }}</div>

  <div class="modal-detail">
    <table class="modal-table">
      <tbody>
        <tr>
          <td>Description:</td>
          <td>{{ assessment.assessmentDescription }}</td>
        </tr>
        <tr>
          <td>Date Created:</td>
          <td>{{ assessment.createdDateTime | date: 'MM-dd-yyyy' }}</td>
        </tr>
        <tr>
          <td>Deadline:</td>
          <td>{{ assessment.submissionDeadline | date: 'MM-dd-yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-divider"></div>

  <div class="row table-responsive pre-scrollable">
    <div class="dpa-table-title">EMPLOYEE ASSESSMENT STATUS</div>

    <table class="dpa-table table table-striped">
      <thead class="dpa-table-header">
        <th>Name</th>
        <th>Status</th>
      </thead>

      <tbody>
        <tr *ngFor="let employee of empAssessmentStatus" 
          (click)="showEmployeeAssessment(employee)">
          <td>{{ employee.fullName }}</td>
          <td class="col-status">
            <span class="dot status-{{employee.empAssessmentStatus | lowercase}}"></span>
            {{ employee.empAssessmentStatus }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row modal-footer">
    <button type="button" class="btn btn-default col-md-4" 
      (click)="closeModal()">
      Close
    </button>
  </div>
</div>