/* TOP NAV */

// copied from navbar less
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

// custom
.navbar-brand {
  height: 120px;
}

.navbar-brand > img {
  height: 100%;
}

/* LOGIN BOX */

.login-section {
  margin: 0 50px;
}

.mainbox {
  text-align: center;
}

.container-3d {
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-color: transparent !important;
}

.panel-header {
  font-size: 18px;
}

.panel-body {
  padding: 30px 30px 0 30px;
  text-align: left;
}
