<div *ngIf="canAccessApp">
    <div class="hidden-xs dpa-sidebar">
        <div class="nav-side-menu style-1">
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            
            <div class="menu-list">
                <div class="nav-brand">
                    <a href="#"><img [src]="'assessments/src/assets/img/dp-logo.png'"></a>
                </div>
                <div class="nav-user">
                    <img class="profile" [src]="'assessments/src/assets/img/temp/user-icon.png'">
                    <div class="info">
                        <p class="name">{{ user.fullname }}</p>
                        <span class="position">{{ user.role }}</span>
                    </div>
                </div>
                <ul id="menu-content" class="menu-content collapse out">
                    <li routerLink="/dashboard" routerLinkActive="active">
                        <a><i class="fa fa-home fa-lg"></i>Dashboard</a>
                    </li>
                    <li routerLink="/employees" routerLinkActive="active"
                        *ngIf="user.isAdmin">
                        <a><i class="fa fa-user fa-lg"></i>Employees</a>
                    </li>
                    <li routerLink="/assessments" routerLinkActive="active">
                        <a><i class="fa fa-edit fa-lg"></i>Assessment</a>
                    </li>
                    <li routerLink="/questionnaires" routerLinkActive="active"
                        *ngIf="user.isAdmin">
                        <a><i class="fa fa-list-ol fa-lg"></i>Questionnaire</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
      
    <div class="dpa-page">
          <div class="dpa-toolbar">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="nav-hamburger">
                        <span class="fa fa-bars"></span>
                    </div>
                    <div></div>
                    <ul class="pull-right">
                        <li><a class="btn-out" (click)="logout()">
                            <span class="fa fa-sign-out"></span>Sign Out
                        </a></li>
                    </ul>
                </div>
            </nav>
          </div>
          <div class="page-content">
              <router-outlet></router-outlet>
          </div>
    </div>
</div>

<div *ngIf="!canAccessApp" class="user-auth-page">
    <app-login (loginUser)="loginUserMode($event)"></app-login>
</div>