<div class="dpa-modal container-fluid">
    <form name="formUserProfile" id="formUserProfile" class="dpa-modal-form" role="form">
        <div class="row">
            <div class="col-md-4 user-photo">
                <img class="profile-img" src="assets/img/temp/user-icon.png">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <label for="firstname" class="dpa-label">First Name</label>
                        <input type="text" name="firstname" [(ngModel)]="employeeData.firstname" class="form-control" required>
                    </div>
                    <div class="col-md-12">
                        <label for="middlename" class="dpa-label">Middle Name</label>
                        <input type="text" name="middlename" [(ngModel)]="employeeData.middlename" class="form-control" required>
                    </div>
                    <div class="col-md-12">
                        <label for="lastname" class="dpa-label">Last Name</label>
                        <input type="text" name="lastname" [(ngModel)]="employeeData.lastname" class="form-control" required>
                    </div>
                    <div class="col-md-12">
                        <label for="email" class="dpa-label">Email Address</label>
                        <input type="email" name="email" [(ngModel)]="employeeData.email_address" class="form-control" required>
                    </div>
                    <div class="col-md-12">
                        <label for="contactnum" class="dpa-label">Contact Number</label>
                        <input type="text" name="contactnum" [(ngModel)]="employeeData.contact_number" class="form-control" required>
                    </div>
                    <div class="col-md-12">
                        <label class="dpa-label">Position</label>
                        <select [(ngModel)]="selectedPosition" name="position" class="form-control" >
                        <option *ngFor="let pdata of positionList.data" [ngValue]="pdata.position_id">{{pdata.position}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="row btn-cotainer">
                    <button class="col-md-6 btn dpabtn-yellow">{{btnName}}</button>
                    <button class="col-md-6 btn btn-space btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>