.welcome-text {
    margin: 150px auto;
    width: 80%;
    text-align: center;
}

.welcome-text h1 {
    font-size: 56px;
    font-weight: bold;
}

.welcome-text h2 {
    font-size: 24px;
    margin-top: 10px;
}

.status-badges {
    text-align: center;
}

.status-badges p {
    margin-bottom: 5px;
}

.status-badges .badge {
    padding: 3px 10px;
    background-color: #d19b3d;
}