.vertical-radio div{
  margin-bottom: 0;
}

.team-inline {
  justify-content: space-between;
}

.team-inline input {
  margin-right: 5px;
}

.dpa-box {
  background-color: rgb(245, 213, 153);
  border-radius: 10px;
  padding: 20px;
}